 /*
Hide/Show navigation buttons when cursor is over the toolbar area
*/
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton{
    opacity:1 !important;
    margin-left:0 !important;
    pointer-events: auto !important;
}

#nav-bar toolbarbutton {
    margin-left: -30px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: margin-left 100ms var(--animation-easing-function), opacity 100ms var(--animation-easing-function), transform 100ms var(--animation-easing-function) !important;
}


/* 
removes space before tabs start
*/
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
      display: none !important;
}

/*
Make the hover-thing (down left corner) turn gray instead of white
*/
#statuspanel-label {
    background-color: #383839 !important;
    border: 1px none #383839 !important;
    border-top-style: solid !important;
    color: white !important;
}


/*
************************
**     TABS START     **
************************
*/

/* TABS - loading icon */
.tab-throbber::before {
  fill: #c6c6c6 !important;
  opacity: 1 !important;
}

/* TABS - FavIcon, Icon on tabs*/
.tab-icon-image {
  display: block !important;
}

/* TABS - Hide "Current" tab Colored line*/
#tabbrowser-tabs {
  --tab-line-color: transparent !important;
}


/* TABS - Separator*/
.tabbrowser-tab::after {
  opacity: 0.1 !important;
}

.titlebar-spacer[type="pre-tabs"] {
  border-right: none !important;
}

/* TABS - Container-tag (e.g. facebook container)*/
.tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-bottom-line {
  height: 1.3px !important;
  opacity: .3 !important;
  margin-bottom: 3px !important;
}

/* TABS - Background/"roundness" of newtab button */
#tabs-newtab-button:hover>.toolbarbutton-icon {
  border-radius: 15px !important;
  background: #4a4a4f !important;
}

/* TABS - Curvature of current tab*/
.tab-background[selected="true"] {
  border-radius: 10px 10px 0px 0px !important;
}

/* TABS - Hide ugly effect on hover */
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]):not([multiselected]) {
  background-color: block !important; 
  margin-top: -5px !important;
  border-radius: 15px 15px 0px 0px !important;
}

/* 
hide tab close buttons when unfocused
*/
.tabbrowser-tab .tab-close-button {
  display: none !important;
}

/*
show tab close button when focused and not pinned
*/
.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  display: block !important;
}

/*
**********************
**     TABS END     **
**********************
*/

/*
********************************
**     CONTEXT MENU START     **
********************************
*/

/* Context menu - Rightclick*/
menupopup {
  -moz-appearance: none !important;
  background-color: #4a4a4f !important;
  border: 1px solid #333 !important;
  margin: -1px 0 0 0 !important;
  border-radius: 10px !important;
}

/* Context menu - Rightclick - What mouse is currently hovering */
menuitem:hover, menugroup:hover, menu:hover {
  -moz-appearance: none !important;
  border-radius: 10px !important;
  background: #5c5c61 !important;
}

/* Context menu - Rightclick - Separatorline between choices */
menuseparator {
  -moz-appearance: none !important;
  max-height: 1px !important;
  border: none !important;
  padding: 0.5px 0 !important;
  background-color: #5c5c61 !important;
}

/* Context menu - Rightclick - text */
menuitem, menu {
  -moz-appearance: none !important;
  color: white !important;
  padding: 1px 1px 2px 11px !important;
  min-height: 25px !important;
}

/* Context Menu - Rightclick - navbarbuttons */
menugroup {
  padding: 2px !important;
  background-color: transparent !important;
}

/* Context Menu - Rightclick - small arrows for submenu */
.menu-right {
  -moz-appearance: none !important;
  padding: 7px !important;
  margin-right: 6px !important;
  color: white !important;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) scale(.4);
}
/*
******************************
**     CONTEXT MENU END     **
******************************
*/


/*
********************************
**     BOOKMARK BAR START     **
********************************
*/

/* Bookmark FavIcons*/
.bookmark-item>.toolbarbutton-icon {
  display: none !important;
}

#PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon[label]: {
  margin-inline-end: 0px !important;
}

/* Bookmark - clearance/font color etc */
#PlacesToolbarItems {
  -moz-box-pack: center;
  color: #ccccce !important;
  margin-bottom: 0px !important;
}

/* Bookmark - hovering a bookmark */
toolbarbutton.bookmark-item:hover {
  background-color: #5c5c61 !important;
  border-radius: 7.5px !important;
}

.toolbarbutton-1 {
  --toolbarbutton-hover-background: #424141 !important;
  --toolbarbutton-active-background: #424141 !important;
}
/*
********************************
**     BOOKMARK BAR END       **
********************************
*/


/*
**************************
**     URLBAR START     **
**************************
*/

/* URL - selected url/search etc */
::-moz-selection {
  background-color: #0c0c0c !important;
}

/* URL - general color */
#urlbar {
  box-shadow: 0 0 3px transparent !important;
  border: 0px solid transparent !important;
  border-radius: 15px !important;
  background: #414b4c !important;
}

/* URL - width of Urlbar */
#urlbar-container {
  max-width: 1000px !important;
}

/* URL - Space between URL/search suggestions when typing into URLbar */
.urlbarView-row {
  padding: 6px 0px !important;
}

/* URL - Search with *searchengine* */
.urlbarView-action {
  color: #CA6924 !important;
}

/* URL - Main location */
#nav-bar-customization-target {
  -moz-box-pack: center !important;
}

/* URL - Main Location */
#urlbar-container {
  transform: translateY(0);
  position: relative;
  z-index: 10;
}

/* URL - Search Suggestions */
#urlbar-results {
  max-width: 100% !important;
  border-radius: 15px !important;
  background-color: #414b4c !important;
}

/* URL - Search Suggestion Container*/
.urlbarView {
  top: calc(100% - 5px) !important;
  width: 100%;
  border-width: 0 !important;
  border-radius: 15px !important;
}
